<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<contextName>oauth2-2</contextName>

	<property name="LOG_PATH" value="D:\\tmp\\logs" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5level %-4relative --- [%thread] %-40logger{15} : %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
	</appender>

	<!-- 日期滚动 -->
	<appender name="RFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}\\oauth2-2.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}\\oauth2-2-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>20MB</maxFileSize>
			<maxHistory>6</maxHistory>
			<totalSizeCap>50GB</totalSizeCap>
		</rollingPolicy>
		<append>true</append>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5level %-4relative --- [%thread] %-40logger{15} : %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>

    <logger name="org.springframework.web" level="DEBUG" />
    <logger name="org.net5ijy.oauth2.repository" level="DEBUG" />

    <root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="RFILE" />
	</root>

</configuration>